
<div class="task-list-container">
  <h1>📑 Tasks</h1>
  <div class="task-grid">
    <div *ngFor="let task of tasks$ | async" class="task-card glass-card">
      <div class="task-card-header">
        <h2 [class.task-done]="task.status === 'DONE'">{{ task.title }}</h2>
        <span
          class="badge"
          [ngClass]="{
            'badge-pending': task.status === 'TO_DO',
            'badge-in-progress': task.status === 'DOING',
            'badge-done': task.status === 'DONE'
          }"
          >{{ taskStatusFormatter[task.status] }}</span
        >
      </div>
      <p>{{ task.description }}</p>
      <div class="task-card-actions">
        <a class="view-button" [routerLink]="['/tasks', task.id]"
          ><i class="fas fa-eye"></i> View</a
        >
        <a class="edit-button" [routerLink]="['/tasks', task.id, 'edit']"
          ><i class="fas fa-edit"></i> Edit</a
        >
        <button class="delete-button" (click)="deleteTask(task.id)">
          <i class="fas fa-trash"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>

<a routerLink="/tasks/create" class="create-task"
  ><i class="fas fa-plus"></i
></a>
