
.theme-switcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;

  button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-border);
    background-color: var(--light-card-bg);
    color: var(--light-text);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    body.dark-mode & {
      background-color: var(--dark-card-bg);
      color: var(--dark-text);
      border: 1px solid var(--dark-border);
    }
  }
}
